services:
  notification-service:
    build: ./notificationService
    container_name: notification-service
    restart: always
    ports:
      - "8082:8082"
    depends_on:
      - eureka
      - kafka
    networks:
      - micro-net

  user-service:
    build: ./userService
    container_name: user-service
    restart: always
    ports:
      - "8081:8081"
    depends_on:
      - eureka
      - db
      - kafka
    networks:
      - micro-net

  eureka:
    build: ./eureka
    container_name: eureka
    restart: always
    ports:
      - "8761:8761"
    networks:
      - micro-net

  config-server:
    build: ./configServer
    container_name: config-server
    restart: always
    ports:
      - "8888:8888"
    depends_on:
      - eureka
    networks:
      - micro-net

  gateway:
    build: ./gateway
    container_name: gateway
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - eureka
      - config-server
    networks:
      - micro-net

  db:
    image: postgres:15
    container_name: db
    restart: always
    ports:
      - "2500:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=userdb
    networks:
      - micro-net

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    restart: always
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - micro-net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    restart: always
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - micro-net

networks:
  micro-net:
